{{ define "main" }}

<main class="h-screen overflow-y-auto pb-6 w-full">
  <div class="px-6 pt-20 pb-10 md:max-w-xl xl:max-w-4xl 2xl:max-w-7xl mx-auto prose dark:prose-invert h-fit">
    <h1 class="!mb-4">{{ .Title }}</h1>

    <p>{{ .Description }}</p>
  </div>

  <div class="px-6 pb-6 w-full md:max-w-xl xl:max-w-4xl 2xl:max-w-7xl mx-auto flex flex-col gap-5 h-fit">
    {{ range $index, $stack := .Site.Data.stack }}
      <!-- stackのheaderがtrueの時はheaderを作成してください -->
      {{ if $stack.header }}
        <!-- 下線がついたh2を作成してください -->
        <h2 class="text-2xl font-bold border-b border-slate-200 dark:border-slate-700 pb-2 mb-4">
          {{ $stack.name }}
        </h2>
      {{ else }}
        <a href="{{ .link }}" target="_blank" rel="noopener noreferrer"
          class="{{ if not (.link) }} pointer-events-none {{end}} flex items-center gap-2.5 p-4 rounded hover:bg-slate-200 dark:hover:bg-slate-700 group {{ if not (modBool $index 2) }} flex-row-reverse text-right {{ end }}">
          {{ if .icon }}
            <img src="{{ .icon }}" alt="{{ .name }}" style="object-fit: cover; width: 250px; height: 250px;" />
          {{ else }}
            <div
              class="text-7xl uppercase grid place-items-center p-4 rounded bg-slate-500 text-white group-hover:text-slate-200 dark:text-slate-900 dark:group-hover:text-slate-700 font-bold"
              style="width: 250px; height: 250px;"
              >
              <span class="mt-2 ml-2">{{ substr .name 0 1 }}</span>
            </div>
          {{ end }}
          <div>
            <h2 class="text-4xl font-semibold">{{ .name }}</h2>
            {{ if .description }}
              <p class="text-slate-800 dark:text-slate-400">{{ .description }}</p>
            {{ end }}

            {{ if .date }}
              <p class="text-slate-700 dark:text-slate-500 text-xs mt-1">
                {{ print .date }}
              </p>
            {{ end }}

            <!-- タグが配列であった場合も対応してください -->
            {{ if .tags }}
              <div class="gap-1.5 mt-2">
                {{ range .tags }}
                  <p
                  class="text-slate-500 text-xs mt-1 px-1.5 py-0.5 rounded-full border border-slate-300 dark:border-slate-600 inline-block">
                  #{{ . }}</p>
                {{ end }}
              </div>
            {{ end }}
          </div>
        </a>
      {{ end }}
    {{ end }}
  </div>
</main>

{{ end }}